@model QMS.ViewModels.UAUserViewModel;


@if (Context.User.Identity.IsAuthenticated)
{
    <h1 class="display-4 text-center">User Administration</h1>

    @if (@Model.ShowAlert == true)
    {
        <div class="@Model.AlertCssClass" role="alert">
            @Html.Raw(@Model.AlertMessage)
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">User Search:</h5>
            <form id="userSearchForm" class="needs-validation" asp-controller="User" asp-action="Search" method="POST" novalidate>
                <div class="form-group">
                    <input type="email" class="form-control" id="userSearchEmailAddress" name="userSearchEmailAddress" placeholder="user.name@gsa.gov" required>
                    <div class="invalid-feedback">
                        Please provide a valid user email address.
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

    @if (@Model.ShowCreateUserForm == true || @Model.ShowUpdateUserForm == true)
    {
        @await Component.InvokeAsync("UAUserCreateUpdate")
    }
}

@section Scripts {
    <script src="~/js/qms_users_202008041030.js"></script>
}