@model QMS.ViewModels.UAUserViewModel;

<div class="card w-75 mt-4">
    <h6 class="card-header">Create QMS User:</h6>
    <div class="card-body">
        <form asp-controller="User" asp-action="Update" method="POST" id="updateUserForm" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="updateUserEmail">Email Address:</label>
                    <input type="text" class="form-control" id="updateUserEmail" asp-for="EmailAddress" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="updateUserDisplayName">Display Name:</label>
                    <input type="text" class="form-control" id="updateUserDisplayName" asp-for="DisplayName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="updateUserOrganization">Organization:</label>
                    <select asp-for="OrgId" asp-items="ViewBag.ActiveOrganizations" class="custom-select" id="updateUserOrganization" required>
                        <option value="">-- Select Organization --</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select an Organization.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="updateUserManager">Manager:</label>
                    <select asp-for="ManagerId" asp-items="ViewBag.PotentialManagers" class="custom-select" id="updateUserManager">
                        <option value="">-- Select Manager --</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a Manager.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 border bg-light py-3 pl-4">
                <div class="form-row">
                    @{
                        int count = 0;
                        @foreach (var checkboxRole in Model.CheckboxRoles)
                        {
                            if (count++ % 2 == 0)
                            {
                    @:</div><div class="form-row">
                            }
                            string createUpdateRoleForUserCheckboxId = $"create-update-role-for-user-{checkboxRole.RoleId}";
                        @:<div class="form-group col-md-6 m-0">
                            @:<div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="@createUpdateRoleForUserCheckboxId"
                                       name="createUpdateRolesForUserIds"
                                       value="@checkboxRole.RoleId"
                                       @(Html.Raw(checkboxRole.Selected ? "checked=\"checked\"" : "")) />
                                <label class="custom-control-label" for="@createUpdateRoleForUserCheckboxId">@checkboxRole.RoleLabel</label>
                            @:</div>
                        @:</div>
                        }
                    }
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</div>